#projects {
  margin-top: 0;
  padding-top: 4rem;
  background-image: linear-gradient(
    rgba(2, 6, 10, 0.774),
    rgba(2, 6, 10, 0.946)
  );
  padding-bottom: 2rem;
}

.project-model {
  border-radius: 2rem;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--color-bg-varient);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin-bottom: 1rem;
}

.portfolio_item:hover {
  background-color: var(--color-bg-varient);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item h3 {
  margin: 1.2rem;
}

/* media query */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
